.overview-container {
    position: relative;
    width: 1013px;
    height: 606px;
    left: 453px;
    margin-top: 53px;

    background: #BBD1EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.icon-container {
    position: absolute;
    width: 54px;
    height: 56px;
    left: 20px;
    top: 25px;

}

.name {
    position: absolute;
    width: 600px;
    height: 52px;
    left: 90px;
    top: 41px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
}

.name-white {
    position: absolute;
    width: 600px;
    height: 52px;
    left: 90px;
    top: 41px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */


    color: #FFFFFF;
}

.title-avg {
    position: absolute;
    width: 500px;
    height: 52px;
    left: 146px;
    top: 182px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
}

.num-avg {
    position: absolute;
    width: 370px;
    height: 217px;
    left: 100px;
    top: 208px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 217px;
    /* identical to box height */


    color: #000000;
}

.title-max {
    position: absolute;
    width: 300px;
    height: 52px;
    left: 589px;
    top: 121px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
}
.num-max {
    position: absolute;
    width: 129px;
    height: 139px;
    left: 620px;
    top: 147px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 139px;
    /* identical to box height */


    color: #000000;
}
.title-min {
    position: absolute;
    width: 300px;
    height: 52px;
    left: 589px;
    top: 316px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
}
.num-min {
    position: absolute;
    width: 125px;
    height: 139px;
    left: 620px;
    top: 346px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 139px;
    /* identical to box height */


    color: #000000;
}

.distribution-container {
    position: relative;
    width: 1013px;
    height: 606px;
    left: 453px;
    margin-top: 53px;

    background: #A1C6EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.ratio-container{
    position: relative;
    width: 1013px;
    height: 606px;
    left: 465px;
    margin-top: 53px;

    background: #507DBC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.unit-avg {
    position: absolute;
    width: 105px;
    height: 69px;
    left: 411px;
    top: 317px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;

    color: #000000;
}
.unit-max {
    position: absolute;
    width: 79px;
    height: 52px;
    left: 836px;
    top: 208px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
}
.unit-min {
    position: absolute;
    width: 79px;
    height: 52px;
    left: 836px;
    top: 410px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */


    color: #000000;
}

.bar-chart {
    position: absolute;
    width: 854px;
    height: 117px;
    left: 50px;
    top: 98px;

}

.pie-chart {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 110px;
    top: 121px;
}

.note1-color {
    box-sizing: border-box;

    position: absolute;
    width: 81px;
    height: 50px;
    left: 579px;
    top: 156px;

    background: #778DA9;
    border: 1px solid #1B263B;
    border-radius: 30px;
}

.note1-text {
    position: absolute;
    width: 350px;
    height: 52px;
    left: 681px;
    top: 154px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    /* identical to box height */


    color: #FFFFFF;
}

.note2-color {
    box-sizing: border-box;

    position: absolute;
    width: 81px;
    height: 50px;
    left: 579px;
    top: 278px;
    
    background: #E0E1DD;
    border: 1px solid #1B263B;
    border-radius: 30px;
}

.note2-text {
    position: absolute;
    width: 290px;
    height: 52px;
    left: 681px;
    top: 276px;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #FFFFFF;

}