.container-header {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 80px;
    width: 100%;

    background: #778DA9;
}

.container-logo {
    width: 258px;
    height: 50px;
    position: absolute;
    left: 3.44%;
    right: 83.12%;
    top: 17.5%;
    bottom: 20%;

    background: #E0E1DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.img-logo-container {
    width: 36px;
    height: 39px;
    position: absolute;

    left: 10%;
    right: 93.18%;
    top: 12.5%;
    bottom: 26.25%;
}

.name-logo {
    position: absolute;
    left: 30%;
    right: 84.43%;
    top: 22.5%;
    bottom: 28.75%;
    
    
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.navigation-item-home {
    position: absolute;
    left: 19.38%;
    right: 75.94%;
    top: 21.25%;
    bottom: 20%;

    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */


    color: #FFFFFF;
}

.navigation-item-about {
    position: absolute;
    position: absolute;
    left: 26.56%;
    right: 68.39%;
    top: 21.25%;
    bottom: 20%;
    
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.container-setting {
    position: absolute;
    left: 96.3%;
    right: 1.15%;
    top: 21.25%;
    bottom: 17.5%;
}